body {
	padding: 0;
	margin: 0;
}

#canvas, .rain {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: 10000;
    opacity: 0;
}

#content .day, #content .night {
    height: 100vh;
    overflow: hidden;
}

.day, .night, .sun, .moon, .stars, .wind, .slush, .snowflake, .cloud, #canvas, .rain {
    transition: all 1s linear;
}

.day {
    color: #000;
    background-color: #FFF;
}

.night {
    color: #FFF;
    background-color: #000;
}

.slush {
    position: absolute;
    top: 51%;
    left: 50%;
    width: 250px;
    height: 250px;
    background-image: url('../assets/storm.svg');
    z-index: 1000;
    opacity: 0;
}

.snowflake {
    position: absolute;
    top: 48%;
    left: 35%;
    width: 230px;
    height: 230px;
    background-image: url('../assets/snow-flake.svg');
    z-index: 1000;
    opacity: 0;
}

.cloud {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 600px;
    height: 400px;
    background-image: url('../assets/cloud.svg');
    z-index: 1000;
    opacity: 0;
}

.sun {
    position: absolute;
    top: 19%;
    left: 32%;
    width: 271px;
    height: 269px;
    background-image: url('../assets/sun.svg');
    z-index: 1000;
    opacity: 0;
}

.moon {
    position: absolute;
    top: 19%;
    left: 50%;
    width: 220px;
    height: 220px;
    background-image: url('../assets/moon.svg');
    z-index: 1000;
    opacity: 0;
}

.wind {
    position: absolute;
    top: 19%;
    left: 40%;
    width: 400px;
    height: 400px;
    background-image: url('../assets/wind.svg');
    z-index: 10000;
    opacity: 0;
}

.stars {
    position: relative;
    width: 1440px;
    height: 740px;
    background-image: url('../assets/stars.svg');
    z-index: 1000;
    margin: auto auto;
    opacity: 0;
}

.weather__temp-panel {
    width: 200px;
    height: 200px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    z-index: 10000;
}

.weather__temp-panel__number {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 40px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.black-color {
    color: #000;
}

/*
    http://www.findsourcecode.com/css/how-to-create-cloud-rain-animation-using-css-jquery/
*/

.drop {
    background: -webkit-gradient(linear ,0% 0% ,0% 100%, from(rgba(0, 0, 0, 0.8) ), to(rgba(0, 0, 0, 0.6)));
    background: -moz-linear-gradient(top, rgba(13, 52, 58, 1) 0%, rgba(0, 0, 0, 0.6) 100%);
    width: 1px;
    height: 80px;
    position: absolute;
    bottom: 200px;
    -webkit-animation: fall 1s linear infinite;
    -moz-animation: fall 1s linear infinite;
}

@-webkit-keyframes fall {
    from { margin-top: 0; }
    to { margin-top: 900px; }
}

@-moz-keyframes fall {
    from { margin-top: 0; }
    to { margin-top: 900px; }
}

.show {
    opacity: 1 !important;
}
